.page-header {
  background-color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  height: 126px;
  background-image: none;
}

.page-header .page-header-top {
  height: 75px;
}

.page-header .page-header-top .page-logo {
  float: left;
  display: block;
  width: 255px;
  height: 70px;
}

.page-header .page-header-top .page-logo .logo-default {
  height: 50px;
  width: auto;
}

.page-header .page-header-top .top-menu {
  padding: 0;
  float: right;
}

.page-header .page-header-top .top-menu .navbar-nav>li.dropdown {
  margin: 0;
  padding: 0 4px;
  height: 50px;
  display: inline-block;
}

.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
  padding: 12px 0 7px;
  margin: 0 0 0 1px;
}

.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img {
  margin-top: -8px;
  margin-right: 8px;
  height: 40px;
  float: left;
}

.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img {
  margin-top: -8px;
  margin-right: 8px;
  height: 40px;
  float: left;
}

.page-header .page-header-menu {
  background: #444d58;
  display: block;
  height: 51px;
  clear: both;
}

.page-header .page-header-menu .container {
  padding: 0px 0px;
}

nav.navbar, .navbar-default {
  background: #444d58;
}
  
  .navbar-default {
    background-image: none;
    border: none;
    border-radius: 0;
  }
  
  .navbar-default .navbar-nav > li > a {
    color: white;
  }

  .navbar-default .navbar-brand {
    color: white;
    padding: 5px 10px;
    text-align: center;
  }
  
  .navbar-default .navbar-toggle {
    border-color: white;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
  }
  
  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
  }

  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #f1f1f1 !important;
    background: #4E5966 !important;
    border-radius: 0px !important;
  }

@media (max-width: 440px) {
  .page-header .page-header-top {
    height: 55px;
  }

  .page-header .page-header-top .page-logo .logo-default {
    height: 40px;
    width: auto;
  }
}